.my-icon-user {
  background: url('../image/user.png') center no-repeat;
}

.my-icon-user:before {
  /**占位，不然不显示**/
  content: "001";
  visibility: hidden;
}

.my-icon-password {
  background: url('../image/lock.png') center no-repeat;
}

.my-icon-password:before {
  content: "002";
  visibility: hidden;
}

/**直接设置在Login.vue的style标签中不起作用**/
.el-form-item__label {
  color: black !important;
}

/*改变表单的一些通用样式*/
.el-dialog__header {
  background-color: #5EE8E8 !important;
}

.el-dialog__body {
  background-image: url("../image/form_background.jpg");
  /*background-color: #4169E1 !important;*/

}

.el-dialog__footer {
  background-color: #5EE8E8 !important;
}



