.my-icon-user {
  background: url('../image/user.png') center no-repeat;
}

.my-icon-user:before {
  /**占位，不然不显示**/
  content: "001";
  visibility: hidden;
}

.my-icon-password {
  background: url('../image/lock.png') center no-repeat;
}

.my-icon-password:before {
  content: "002";
  visibility: hidden;
}

/*改变表单的一些通用样式*/
/*表单头*/
.el-dialog__header {
  background-color: #D2B48C !important;
}
/*表单体*/
div.el-dialog__body {
  background-color: #D2B48C !important;
}

/*表单底部*/
.el-dialog__footer {
  background-color: #D2B48C !important;
  padding: 0 0 10px 0;
}

/*表单前面的label标签字体颜色*/
.el-form-item__label {
  color: #00FF7F !important;
  font-weight: bold;
}

/*改变表单出错提示信息的颜色*/
.el-form-item__error {
  color: white;
  font-weight: lighter;
}

/*改变表格的一些通用样式*/
/*底部分页全部居中*/
.el-pagination.is-background {
  margin-top: 10px;
  text-align: center;
  color: white;
}

/*底部文字颜色*/
.el-pagination__total {
  color: white;
}

/*底部文字颜色*/
.el-pagination__jump {
  color: white;
  font-weight: bold;
}

/*将所有的文件上传设置为行内元素*/
.upload-demo {
  display: inline-block;
}
/*侧边栏样式*/
.el-aside{
  overflow: hidden;
}

